html,
body {
  margin: 0;
  padding: 0;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
html,
css {
  line-height: 1.2;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 10px;
}
.main-nav__appeal {
  font-size: 2.4rem;
}
.app-download {
  font-size: 1.4rem;
  font-weight: 300;
}
.btn {
  font-size: 1.8rem;
  font-weight: 700;
}
.promo {
  font-size: 2.4rem;
  font-weight: 300;
}
.about-app__list strong {
  font-size: 1.8rem;
}
.about-app__list p {
  font-size: 1.4rem;
}
.slider-comments cite {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
}
.slider-comments p {
  font-size: 1.4rem;
}
.tariffs td {
  font-size: 1.4rem;
  font-weight: 300;
}
.tariffs__name {
  font-size: 1.8rem;
  font-weigth: 700;
}
.tariffs__price {
  font-size: 2.4rem;
  font-weight: 300;
}
.page-footer__appeal {
  font-size: 2.4rem;
  font-weight: 300;
}
.contacts__item p:first-child {
  font-size: 1.8rem;
  font-weight: 700;
}
.contacts__item p:last-child {
  font-size: 1.8rem;
  font-weight: 300;
}
.center-wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
.page-header {
  content: '';
  display: block;
  clear: both;
}
.page-header__logo-link {
  float: left;
}
.main-nav__toggle {
  float: right;
  cursor: pointer;
}
.main-nav__toggle span,
.main-nav__toggle span:before,
.main-nav__toggle span:after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 4px;
  border-radius: 1px;
  background: black;
  cursor: pointer;
}
.main-nav__toggle span:before {
  top: 10px;
}
.main-nav__toggle span:after {
  bottom: 10px;
}
.main-nav__appeal {
  padding-top: 40px;
}
.main-nav__list {
  display: none;
  list-style: none;
}
.app-download {
  background: #1d2631;
  color: white;
}
.app-download__links a {
  display: inline-block;
  vertical-align: top;
}
.btn {
  display: inline-block;
  border: 3px solid white;
  border-radius: 28px;
  padding: 14px 35px;
  margin: 28px 0;
  cursor: pointer;
}
.about-app {
  background: #f2f2f2;
}
.about-app__list {
  list-style: none;
}
.slider-comments__item {
  margin: 0;
}
.controls {
  text-align: center;
}
.controls__item {
  display: inline-block;
  vertical-align: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bec2c7;
  border: 3px solid white;
}
.controls__item--active {
  background: white;
  border: 3px solid #283645;
}
.tariffs__features {
  margin: 0 auto;
  border-collapse: collapse;
}
.tariffs__header {
  background: #283645;
}
.tariffs th {
  width: 280px;
  border: 2px solid #e5e5e5;
}
.tariffs td {
  text-align: left;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
}
.tariffs__name {
  color: white;
}
.tariffs__price {
  color: white;
}
.tariffs .controls {
  padding: 40px;
  background: #f2f2f2;
}
.contacts {
  list-style: none;
}
.contacts p:first-child {
  color: #283645;
}
.contacts p:last-child {
  color: #d22856;
}
