html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.center-wrapper {
  width: 280px;
  margin: 0 auto;
}
.page-header:after {
  content: '';
  display: table;
  clear: both;
}
.page-header__logo-link {
  float: left;
}
.main-nav__toggle {
  float: right;
  cursor: pointer;
}
.main-nav__toggle span,
.main-nav__toggle span:before,
.main-nav__toggle span:after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 4px;
  border-radius: 1px;
  background: black;
  cursor: pointer;
}
.main-nav__toggle span:before {
  top: 10px;
}
.main-nav__toggle span:after {
  bottom: 10px;
}
.main-nav__appeal {
  text-align: center;
  padding-top: 40px;
  font-size: 2.4rem;
}
.main-nav__list li {
  text-align: center;
}
.main-nav__list {
  display: none;
}
.app-download {
  text-align: center;
  background: #1d2631;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
}
.app-download__links a {
  display: inline-block;
  vertical-align: top;
  color: white;
}
.btn {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 28px;
  padding: 14px 35px;
  margin: 28px 0;
  cursor: pointer;
}
.about-app {
  text-align: center;
}
.about-app__promo {
  font-size: 2.4rem;
  font-weight: 300;
}
.about-app__list {
  background: #f2f2f2;
}
.about-app__list strong {
  font-size: 1.8rem;
}
.about-app__list p {
  font-size: 1.4rem;
}
.slider-comments {
  text-align: center;
}
.slider-comments__item blockquote {
  margin: 0;
}
.slider-comments__item cite {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
}
.slider-comments__item p {
  font-size: 1.4rem;
}
.controls__item {
  display: inline-block;
  vertical-align: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bec2c7;
  border: 3px solid white;
}
.controls__item--active {
  background: white;
  border: 3px solid #283645;
}
.tariffs__features {
  margin: 0 auto;
  border-collapse: collapse;
}
.tariffs__header {
  background: #283645;
}
.tariffs th {
  width: 280px;
  border: 2px solid #f2f2f2;
}
.tariffs td {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
}
.tariffs__name {
  color: white;
  font-size: 1.8rem;
  font-weigth: 700;
}
.tariffs__price {
  color: white;
  font-size: 2.4rem;
  font-weight: 300;
}
.tariffs .controls {
  padding: 40px;
  text-align: center;
  background: #f2f2f2;
}
.page-footer {
  text-align: center;
}
.page-footer__appeal {
  font-size: 2.4rem;
  font-weight: 300;
}
.contacts__item p:first-child {
  font-size: 1.8rem;
  font-weight: 700;
}
.contacts__item p:last-child {
  color: #d22856;
  font-size: 1.8rem;
  font-weight: 300;
}
