@import 'variables.less';
@import 'components/scaffolding.less';
@import 'components/buttons.less';
@import 'components/type.less';

.center-wrapper {
  .clearfix();
  width: 280px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.page-header {
  &__logo-link {
    float: left;
  }
}

.main-nav {
  &__toggle {
    float: right;
    cursor: pointer;
  }
  &__toggle span, &__toggle span:before, &__toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 1px;
    background: black;
    cursor: pointer;
    right: 0;
  }
  &__toggle span {
    top: 10px;
  }
  &__toggle span:before {
    top: -10px;
  }
  &__toggle span:after {
    top: 10px;
  }  
}

.app-download {
  background: @bg-app-download;
  color: white;
  &__links a {
    display: inline-block;
    vertical-align: top;
  }
}

.about-app {
  background: @bg-about-app;
}

.slider-comments {
  &__item {
    margin: 0;
  }
}

.controls {
  text-align: center;
}

.controls__item {
    display: inline-block;
    vertical-align: center;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #bec2c7;
    border: 3px solid white;
    &--active {
      background: white;
      border: 3px solid @controls-active-color;
    }
}

.tariffs {
  &__features {
    margin: 0 auto;
    border-collapse: collapse;
  }
  &__header {
    background: @blue;
  }
  th {
    width: 280px;
    border: 2px solid @tariffs-border-color;
  }
  td {
    text-align: left;
    text-transform: uppercase;
    border: 2px solid @tariffs-border-color;
  }
  &__name {
    color: white;
  }
  &__price {
    color: white;
  }
  .controls {
    padding: 40px;
    background: @bg-tariffs-controls;
  }
}
