@gray: #f2f2f2;
@dark-gray: #e5e5e5;
@pink: #d22856;
@blue: #283645;
@deep-blue: #1d2631;

@bg-about-app: @gray;
@bg-tariffs-controls: @gray;
@bg-app-download: @deep-blue;

@contacts-head-color: @blue;
@contacts-info-color: @pink;
@tariffs-border-color: @dark-gray;
@controls-active-color: @blue;

@font-family-sans-serif: 'Arial', sans-serif;
@font-family-main: 'Open Sans';
@font-family-site: @font-family-main, @font-family-sans-serif;
@font-weight-light: 300;
@font-weight-bold: 700;
@font-weight-normal: 400;

@html-size-base: 10px;
@font-size-small: 1.4rem;
@font-size-middle: 1.8rem;
@font-size-big: 2.4rem;




