
.icon-youtube_opt:before { content: '\e800'; } /* '' */
.icon-twitter_opt:before { content: '\e801'; } /* '' */
.icon-facebook_opt:before { content: '\e802'; } /* '' */
.icon-glukhanko_opt:before { content: '\e803'; } /* '' */
.icon-menu-burger:before { content: '\e804'; } /* '' */
.icon-htmlacademy_opt:before { content: '\e805'; } /* '' */
.icon-menu-cross:before { content: '\e806'; } /* '' */