.page-header {
  &__logo {
    padding: 20px 20px 20px 20px;
    float: left;
    @media (min-width: 600px) and (max-width: 1200px) and (min-resolution: 1.5dppx) {
      width: 145px;
    }
    @media (min-width: 1200px) and (min-resolution: 1.5dppx) {
      width: 146px;
    }
    @media (max-width: @mobile-breakpoint) {
      padding-top: 35px;
    }
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
      padding: 30px 40px 40px;
    }
    @media (min-width: @tablet-breakpoint) {
      padding-top: 25px;
    }
  }
  
  &__toggle {
    float: right;
    cursor: pointer;
    margin-right: 50px; 
    margin-top: 33px;
    font-size: 24px;
    color: white;
    &--invisible {
      display: none;
    }
    &:hover {
      color: @pink;
    }
    &:active {
      color: @gentle-pink;
    }
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
      margin-top: 43px;
    }
    @media (min-width: @tablet-breakpoint) {
      display: none;
    }
  }
  
  &__logo-wrapper {
    @media (max-width: @tablet-breakpoint) {
      .clearfix();
    }
  }
  background: url("../img/iphone-hand-1.png") no-repeat 40% 41%, url("../img/background-1@1x.jpg") no-repeat 50% 0%;
  
  @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
    background: url("../img/iphone-hand-2@1x.png") no-repeat 50% 99%, url("../img/background-2@1x.jpg") no-repeat 50% 0%;
  }
  
  @media (min-width: @tablet-breakpoint) {
    background: url("../img/iphone-hand-3@1x.png") no-repeat 50% 100%, url("../img/background-fullsize.jpg") no-repeat 50% 100%;
  }
}

@media(min-width: @mobile-breakpoint){
  .app-download .left-wrapper{
    min-height: 400px;
  }
}

.nav {
  background: rgba(0, 0, 0, .3);
}

.main-nav {
  .clearfix();  
  &__list {
    font-size: @size-menu;
    font-weight: @font-weight-bold;
    text-transform: uppercase;
    @media (min-width: @tablet-breakpoint) {
      float: right;
      font-weight: @font-weight-normal;
      text-transform: none;
    }
    @media (max-width: @tablet-breakpoint) {
      position: absolute;
      width: 100%;
      z-index: 100;
      float: none;
    }
    &--visible {
      display: block;
      position: absolute;
      width: 100%;
      z-index: 100;
    }
  }
  &__item {
    background: @bg-menu-item;
    padding: 20px 0;
    border-top: 1px #495562 solid;
    border-bottom: 1px black solid;
    @media (max-width: @tablet-breakpoint) {
      &:hover {
        border-top: 1px black solid;
      }
    }
    @media (min-width: @tablet-breakpoint) {
      display: inline-block;
      padding: 45px 37px;
      background: none;
      border: none;
      
    }
    
    a {
      &:hover {
        color: @pink;
        @media (min-width: @tablet-breakpoint) {
          color: white;
          padding-bottom: 8px;
          border-bottom: 2px solid white;
        }
      }
      &:active {
        color: @gentle-pink;
        @media (min-width: @tablet-breakpoint) {
          color: @dark-gray;
          border-bottom: none;
          
        }
      }
    }
  }
}

.app-download {
  color: white;
  font-weight: @font-weight-light;
  
  &__section {
    background: @bg-app-download;
    padding: 10px 0;
    @media (min-width: @mobile-breakpoint) {
      background: transparent;
    }
  }
  
  &__links {
    padding: 10px;
    @media (min-width: @tablet-breakpoint) {
      padding: 55px 0;
    }
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
      padding: 25px 10px;
    }
  }
  
  &__link{
    display: inline-block;
    vertical-align: baseline;
    margin-right: 33px;
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
     margin-right: 28px;
    }
  }
  
  &__link:last-of-type {
    margin-right: 0;
  }
  
  &__appeal {
    padding-top: 20px;
    @media (max-width: @mobile-breakpoint) {
      margin-bottom: 315px;
      font-size: @size-header-appeal-mobile;
    }
    @media (min-width: @mobile-breakpoint) {
      padding-top: 93px;
      padding-left: 20px;
      padding-bottom: 4px;
      font-size: @size-header-appeal-tablet;
    }
    @media (min-width: @tablet-breakpoint) {
      font-size: @size-header-appeal-desktop;
    }
    
    &--no-mobile {
      @media (max-width: @mobile-breakpoint) {
        display: none;
      }
    }
  }
  
  &__description {
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 24px;
    @media (max-width: @mobile-breakpoint) {
      font-size: @size-download-text-mobile;
    }
    @media (min-width: @mobile-breakpoint) {
      font-size: @size-download-text;
      padding-top: 0;
      padding-bottom: 90px;
    }
  }
  @media (min-width: @tablet-breakpoint) {
    background: none;
  }
}