.page-header {
  &__logo {
    padding: 25px;
    float: left;
    @media (max-width: @mobile-breakpoint) {
      padding-top: 40px;
    }
  }
  
  &__logo-wrapper {
    @media (max-width: @tablet-breakpoint) {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      background: @bg-menu-item;
//      border-top: 1px #495562 solid;
      border-bottom: 1px black solid;
    }
  }
  background: url("../../img/iphone-hand-1.png") no-repeat 35% 50%, url("../../img/background-1@1x.jpg") no-repeat 50% 20%;
  @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
    background: url("../../img/iphone-hand-2@1x.png") no-repeat 50% 100%, url("../../img/background-2@1x.jpg") no-repeat 50% 50%;
  }
  @media (min-width: @tablet-breakpoint) {
    background: url("../../img/iphone-hand-3@1x.png") no-repeat 50% 100%, url("../../img/background-fullsize.jpg") no-repeat 50% 50%;
  }
}

.app-download__section {
  background: @bg-app-download;
  padding: 10px 0;
}

@media(min-width: @mobile-breakpoint){
  .app-download .left-wrapper{
    min-height: 400px;
  }
  .app-download__section{
    background: transparent;
  }
  .hand-with-phone{
    position: absolute;
    right:10px;
  }
}

.main-nav:after {
  display: table;
  content: '';
  clear: both;
}

.nav {
  background: rgba(28, 37, 47, 0.8);
}

.main-nav {
  &__toggle {
    float: right;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
    @media (min-width: @tablet-breakpoint) {
      display: none;
    }
  }  
  &__list {
    font-size: @size-menu;
    font-weight: @font-weight-bold;
    @media (max-width: @tablet-breakpoint) {
      display: none;
    }
    @media (min-width: @tablet-breakpoint) {
      float: right;
      font-weight: @font-weight-normal;
    }
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
      float: none;
    }
  }
  &__item {
    background: @bg-menu-item;
    padding: 20px 0;
    border-top: 1px #495562 solid;
    border-bottom: 1px black solid;
    @media (min-width: @tablet-breakpoint) {
      display: inline-block;
      padding: 45px 37px;
      background: none;
      border: none;
    }
  }
}

.app-download {
  color: white;
  font-weight: @font-weight-light;
  &__links {
    @media (min-width: @tablet-breakpoint) {
      padding: 55px 0;
    }
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
      padding: 40px 0;
    }
  }
  &__link{
    display: inline-block;
    vertical-align: baseline;
    margin-right: 30px;
  }
  &__link:last-of-type {
    margin-right: 0;
  }
  &__appeal {
    padding-top: 40px;
    @media (max-width: @mobile-breakpoint) {
      margin-bottom: 315px;
      font-size: @size-header-appeal-mobile;
    }
    @media (min-width: @mobile-breakpoint) {
      font-size: @size-header-appeal-tablet;
    }
    @media (min-width: @tablet-breakpoint) {
      font-size: @size-header-appeal-desktop;
    }
    
    &--no-mobile {
      @media (max-width: @mobile-breakpoint) {
        display: none;
      }
    }
  }
  &__description {
    padding-bottom: 90px;
    @media (max-width: @mobile-breakpoint) {
      font-size: @size-download-text-mobile;
    }
    @media (min-width: @mobile-breakpoint) {
      font-size: @size-download-text;
    }
  }
  @media (min-width: @tablet-breakpoint) {
    background: none;
  }
}