.page-header {
  &__logo {
    padding: 25px 0;
    float: left;
  }
  
  &__logo-wrapper {
    @media (max-width: @tablet-breakpoint) {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      background: @bg-menu-item;
//      border-top: 1px #495562 solid;
      border-bottom: 1px black solid;
    }
  }
  background: url("../../img/background-1@1x.jpg") no-repeat 50% 50%;
  @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
    background: url("../../img/background-2@1x.jpg") no-repeat 50% 50%;
  }
  @media (min-width: @tablet-breakpoint) {
    background: url("../../img/background-fullsize.jpg") no-repeat 50% 50%;
  }
}

.app-download__section {
  background: @bg-app-download;
  padding: 10px 0;
}

@media(min-width: @mobile-breakpoint){
  .app-download .left-wrapper{
    min-height: 400px;
  }
  .app-download__section{
    background: transparent;
  }
  .hand-with-phone{
    position: absolute;
    right:10px;
  }
}

.main-nav:after {
  display: table;
  content: '';
  clear: both;
}

.nav {
  background: rgba(28, 37, 47, 0.8);
}

.main-nav {
  &__toggle {
    float: right;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 0;
    @media (min-width: @tablet-breakpoint) {
      display: none;
    }
  }  
  &__list {
    @media (min-width: @tablet-breakpoint) {
      float: right;
    }
    @media (min-width: @mobile-breakpoint) and (max-width: @tablet-breakpoint) {
      float: none;
    }
  }
  &__item {
    background: @bg-menu-item;
    border-top: 1px #495562 solid;
    border-bottom: 1px black solid;
    @media (min-width: @tablet-breakpoint) {
      display: inline-block;
      padding: 45px 37px;
      background: none;
      border: none;
    }
  }
}

.app-download {
  color: white;
  &__links a {
    display: inline-block;
    vertical-align: baseline;
  }
  @media (min-width: @tablet-breakpoint) {
    background: none;
  }
}