@import 'variables.less';

html {
  line-height: 1.2;
  font-family: @font-family-site;
  font-size: @html-size-base;
}

.page-header {
  &__appeal {
    padding-top: 40px;
    font-size: @font-size-big;
  }
}

.main-nav {
  &__list {
    display: none;
    list-style: none;
  }
}

.app-download {
  font-size: @font-size-small;
  font-weight: @font-weight-light;
}

.btn {
  font-size: @font-size-middle;
  font-weight: @font-weight-bold;
}

.promo {
  &__item {
    font-size: @font-size-big;
    font-weight: @font-weight-light;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .promo {
    &__item {
      font-size: @font-size-big-tablet;
    }
  } 
}


.about-app {
  &__list strong {
    font-size: @font-size-middle;
  }
  &__list p {
    font-size: @font-size-small;
  }
  &__list {
    list-style: none;
  }
}

.effect {
  &__promo {
    font-size: @font-size-huge;
  }
  &__text {
    font-size: @font-size-small;
  }
  &__more {
    font-size: @font-size-small;
    color: @pink;
    text-decoration: underline;
  }
}

.comment {
  &__author {
    font-style: normal;
    font-weight: @font-weight-bold;
    font-size: @font-size-middle;
  }
  p {
    font-size: @font-size-small;
  }
  &:not(:first-of-type) {
    display: none;
  }
  
}

.tariffs {
  td {
    font-size: @font-size-small;
    font-weight: @font-weight-light;
  }
  &__name {
    font-size: @font-size-middle;
    font-weigth: @font-weight-bold;
  }
  &__price {
    font-size: @font-size-big;
    font-weight: @font-weight-light;
  }
}

.contacts {
  &__appeal {
    font-size: @font-size-big;
    font-weight: @font-weight-light;
  }
}

@media (min-width: 600px) {
  .contacts {
    &__appeal {
      font-size: @font-size-big-tablet;
    }
  }
}

.contacts__list {
  list-style: none;
}

.contacts__item {
  p:first-child {
    color: @contacts-head-color;
    font-size: @font-size-middle;
    font-weight: @font-weight-bold;
  }
  p:last-child {
    color: @contacts-info-color;
    font-size: @font-size-big;
    font-weight: @font-weight-light;
  }
}

.copyright {
  font-size: @font-size-small;
}