html {
  line-height: 1.2;
  font-family: @font-family-site;
  font-size: @html-size-base;
}

ul {
  list-style: none;
}

h1 {
  margin: 10px 0;
  font-weight: @font-weight-light;
}

p {
  margin: 10px 0;
}

cite {
  font-style: normal;
}

blockquote {
  margin: 0;
}