html {
  line-height: 1.2;
  font-family: @font-family-site;
  font-size: @html-size-base;
}

ul {
  list-style: none;
}

p {
  margin: 10px 0;
}

.main-nav {
  &__list {
//    font-size: @font-size-middle;
    
    text-transform: uppercase;
    @media (min-width: @tablet-breakpoint) {
      text-transform: none;
//      font-weight: @font-weight-normal;
    } 
  }
}



.contacts {

  &__name {
    color: @contacts-head-color;
//    font-size: @font-size-middle;
    font-weight: @font-weight-bold;
  }
  &__address {
    color: @contacts-info-color;
//    font-size: @font-size-big;
    font-weight: @font-weight-light;
  }
  &__list {
    list-style: none;
  }
}
